@import "./design.tokens.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    background: var(--gradient-main);
    color: var(--color-text-main);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
select {
    font: inherit;
    color: inherit;
    background-color: transparent;
}